In [22]:
#import library
import pandas as pd
import numpy as np

In [2]:
#create an emty Database
df = pd.DataFrame()

In [3]:
#show 5 lines on top
df.head(5)

Empty DataFrame
Columns: []
Index: []

In [4]:
#create a list 
lst = ['Kế toán','Kinh doanh','Tiếp thị']

In [7]:
#create a DF and apply a list value on it
df_lst = pd.DataFrame(lst)
print(df_lst)

            0
0     Kế toán
1  Kinh doanh
2    Tiếp thị

In [8]:
#creat a tuple
tuples = [('Kế toán', 2000),( 'Kinh doanh', 2100), ('Tiếp thị', 1900)]

In [10]:
#apply tuple to DF
df_tuples = pd.DataFrame(tuples, columns=['Nghề','Lương'])
print(df_tuples)

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [11]:
#create a dictionary
dic = {'Nghề':['Kế toán','Kinh doanh','Tiếp thị'],'Lương':[2000, 2100, 1900]}

In [12]:
#apply dictionary to DF
df_dic =pd.DataFrame(dic)
print(df_dic)

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [14]:
#create a series from the dictionary
dict = {0 : 'Kế toán', 1 : 'Kinh doanh' , 2 : 'Tiếp thị'}

In [16]:
#apply dictionary's series to DF
df_dict_series = pd.Series(dict)
print(df_dict_series)

0       Kế toán
1    Kinh doanh
2      Tiếp thị
dtype: object

In [24]:
#create a numpy array
arr = np.array([51,65,48,59,68])
print(arr)

[51 65 48 59 68]

In [25]:
#apply arry to Series (replace old value)
df_dict_series = pd.Series(arr)
print(df_dict_series)

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [29]:
#Create Series from Scalar Values
seri1 = pd.Series(10, index=[0,1,2,3,4,5])
print(seri1)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64