In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('shopeep_koreantop_clothing_shop_data.csv')

In [3]:
#V·ªõi m·ªói c·ª≠a h√†ng, t√≠nh s·ªë l∆∞·ª£ng ng∆∞·ªùi theo d√µi trung b√¨nh
df.groupby('name')['follower_count'].mean()

name
 Youku Shangyi fashion store      139.5
 Zanzea Women's Apparel          1014.0
(MEILUN)Men's Fashion             113.0
1989minishop                    22280.0
5ngyzt5ebj                       7290.0
                                 ...
zhufeng2.ph                      1094.0
‚≠êÔ∏èPink Star Korea Fashion       37346.0
Â∞èÈæô‰∏ìÂçñ‚Äî‚ÄîÊó•Áî®ÁôæË¥ß                        339.0
üåø Peppermint Shop               28039.0
üíóTrendy girlüíó                     152.0
Name: follower_count, Length: 391, dtype: float64

In [4]:
#H√†ng nƒÉm v·ªõi m·ªói ƒë·ªãa ƒëi·ªÉm h√£y t√≠nh gi√° tr·ªã l·ªõn nh·∫•t c·ªßa l∆∞·ª£t ƒë√°nh gi√° x·∫•u v√† ƒë√°nh gi√° t·ªët c·ªßa ng∆∞·ªùi d√πng
df.groupby(['join_year','shop_location'])[['rating_bad','rating_good']].max()

                                        rating_bad  rating_good
join_year shop_location
2015      Taytay,Rizal                        2387       343050
2016      Bacoor,Cavite                        191        26249
          Caloocan City,Metro Manila          1967       151821
          Marikina City,Metro Manila            75         2550
          Paranaque City,Metro Manila          722        33438
...                                            ...          ...
2021      Santa Cruz,Metro Manila                0          345
          Silang,Cavite                          0           48
          Taytay,Rizal                        1534        21058
          Tondo I / Ii,Metro Manila             13         1717
          Valenzuela City,Metro Manila          88        20858

[97 rows x 2 columns]