In [1]:
import pandas as pd
import numpy as np

In [3]:
#khởi tạo 1 df có giá trị ngu
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1], [np.nan, np.nan, np.nan, 5], [np.nan, 3, np.nan, 4]], columns=list("ABCD"))
df1 = df
df2 = df
df3 = df
df4 = df
df5 = df
df6 = df
df7 = df
df8 = df
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [4]:
#Thay thế giá trị bị khuyết thiếu bằng một giá trị vô hướng (ví dụ là 0):
df1.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

In [6]:
#Thay thế bằng các giá trị ở hàng trước/hàng sau:
"""
bfill/backfill
pad/ffill
"""
df2.fillna(method='ffill')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

In [8]:
#chỉ định giá trị sẽ được thay thế trên mỗi cột:
lst = {"A": 0, "B": 1, "C": 2, "D": 3}

In [9]:
df3.fillna(value=lst)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4

In [10]:
#thay thế các giá trị khuyết bằng giá trị nội suy từ các giá trị không bị khuyết.
"""
failed với dataframe
"""
df4.interpolate()

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  3.5 NaN  5
3  3.0  3.0 NaN  4

In [11]:
srs = pd.Series([1, np.nan, np.nan, 3])
srs.interpolate()

0    1.000000
1    1.666667
2    2.333333
3    3.000000
dtype: float64