In [20]:
import pandas as pd

In [21]:
#Câu 1: Đọc bộ dữ liệu
df = pd.read_csv('GDPlist.csv', encoding = 'ISO-8859-1')
df.head(10)

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644
5     Australia        Oceania                1488221
6       Austria         Europe                 419243
7    Azerbaijan         Europe                  62321
8       Bahrain           Asia                  26108
9    Bangladesh           Asia                 113032

In [22]:
#câu 1:Cho biết số dòng, số cột
print("số dòng là: ", df.shape[0])
print("số cột là: ", df.shape[1])

số dòng là:  125
số cột là:  3

In [6]:
#câu 1: Kiểu dữ liệu các thuộc tính
df.dtypes

Country                  object
Continent                object
GDP (millions of US$)     int64
dtype: object

In [7]:
#Câu 2: Tính giá trị lớn nhất và nhỏ nhất của GDP.
df_GDP = df['GDP (millions of US$)']

In [8]:
#GTNN
print("Giá trị nhỏ nhất của GDP là: ",df_GDP.min())

Giá trị nhỏ nhất của GDP là:  10600

In [9]:
#GTLN
print("Giá trị lớn nhất của GDP là: ",df_GDP.max())

Giá trị lớn nhất của GDP là:  15094025

In [10]:
#Câu 3: Hãy cho biết xu hướng phân bố dữ liệu của GDP.
#trung bình
df_GDP.mean()

555427.784

In [11]:
#trung vị
df_GDP.median()

96089.0

In [12]:
df_GDP.mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64

In [ ]:
print("Vì ")

In [13]:
#câu 4:Hãy cho biết châu lục nào xuất hiện nhiều nhất?
df_Continent = df['Continent']
print("Châu lục xuất hiện nhiều nhất là: ", df_Continent.max())

Châu lục xuất hiện nhiều nhất là:  South America

In [14]:
#câu 5: Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.
df_continent = df.drop_duplicates(["Continent"], keep='last').reset_index(drop=True)
df_continent

             Country      Continent  GDP (millions of US$)
0   Papua New Guinea        Oceania                  12655
1     United Kingdom         Europe                2417570
2      United States  North America               15094025
3          Venezuela  South America                 315841
4            Vietnam           Asia                 122722
5             Zambia         Africa                  19206

In [15]:
#Cách 1 (Cồng kềnh)
df_Asia = df.loc[df.Continent == 'Asia']
df_Oceania = df.loc[df.Continent == 'Oceania']
df_Europe = df.loc[df.Continent == 'Europe']
df_NA = df.loc[df.Continent == 'North America']
df_SA = df.loc[df.Continent == 'South America']
df_Africa = df.loc[df.Continent == 'Africa']

In [35]:
#Tổng GDP tại khu vực châu Úc
df_Oceania['GDP (millions of US$)'].sum()

1662727

In [26]:
#Cách 2 (Sai)
df_continent = df.drop_duplicates(["Continent"], keep='last')['Continent']
df_continent.reset_index(drop=True)
for i in df_continent:
    total = df.loc[df['Continent']==i].sum()
    tuples = [(i, total['GDP (millions of US$)'])]
pd1 = pd.DataFrame(tuples, columns=['Continental','GDP (millions of US$)'])
pd1

  Continental  GDP (millions of US$)
0      Africa                1820811

In [40]:
#cách 3
#tính tổng GDP theo châu lục
total = df.groupby(['Continent'])['GDP (millions of US$)'].sum().to_frame()
total.rename(columns={'GDP (millions of US$)':'GDP(sum)'},inplace=True)

In [41]:
#Tính trung bình GDP theo châu lục
mean = round(df.groupby(['Continent'])['GDP (millions of US$)'].mean().to_frame(),)
mean.rename(columns={'GDP (millions of US$)':'GDP(average)'},inplace=True)

In [43]:
gdp = pd.concat([mean, total], axis = 1)
gdp

               GDP(average)  GDP(sum)
Continent
Africa              62787.0   1820811
Asia               678497.0  24425891
Europe             517281.0  19139380
North America     1658041.0  18238447
Oceania            554242.0   1662727
South America      460135.0   4141217