In [1]:
import pandas as pd

In [2]:
#import data
food = pd.read_csv('FoodPrice_in_Turkey.csv')
print(food)

                 Place  ProductId              ProductName  UmId UmName  \
0     National Average         52            Rice - Retail     5     KG
1     National Average         52            Rice - Retail     5     KG
2     National Average         52            Rice - Retail     5     KG
3     National Average         52            Rice - Retail     5     KG
4     National Average         52            Rice - Retail     5     KG
...                ...        ...                      ...   ...    ...
7376             Izmir        502  Cocoa (powder) - Retail     5     KG
7377             Izmir        502  Cocoa (powder) - Retail     5     KG
7378             Izmir        502  Cocoa (powder) - Retail     5     KG
7379             Izmir        502  Cocoa (powder) - Retail     5     KG
7380             Izmir        502  Cocoa (powder) - Retail     5     KG

      Month  Year    Price
0         5  2013   4.4920
1         6  2013   4.5786
2        11  2013   4.7865
3        12  2013   5.1337
4         1  2014   5.5099
...     ...   ...      ...
7376      8  2019  47.9040
7377      9  2019  49.1176
7378     10  2019  50.8347
7379     11  2019  51.7985
7380     12  2019  51.6071

[7381 rows x 8 columns]

In [7]:
#view rows and columns
food.shape

(7381, 8)

In [8]:
#view rows
food.shape[0]

7381

In [9]:
#view columns
food.shape[1]

8

In [10]:
#view name of columns
food.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [13]:
#check data type by using attribute
food.dtypes

Place           object
ProductId        int64
ProductName     object
UmId             int64
UmName          object
Month            int64
Year             int64
Price          float64
dtype: object

In [15]:
#check data type by using method
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB