In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('FoodPrice_in_Turkey.csv')

In [4]:
#tách cột Price thành biến độc lập
df_price = df.loc[:,'Price']
df_price

0        4.4920
1        4.5786
2        4.7865
3        5.1337
4        5.5099
         ...
7376    47.9040
7377    49.1176
7378    50.8347
7379    51.7985
7380    51.6071
Name: Price, Length: 7381, dtype: float64

In [5]:
#đếm số phần tử trong df Price
df_price.count()

7381

In [6]:
#giá trị nhỏ nhất trong df
df_price.min()

0.2539

In [7]:
#GTLN trong df
df_price.max()

159.4458

In [8]:
#Giá trị xuất hiện nhiều nhất
df_price.mode()

0    0.4118
Name: Price, dtype: float64

In [9]:
#Tính giá trị trung vị của biến định lượng
df_price.median()

5.9096

In [10]:
#Tính giá trị trung bình của biến định lượng
df_price.mean()

15.738708576073778

In [11]:
#thống kê của tất cả các biến định lượng trong DataFrame
df.describe()

         ProductId         UmId        Month         Year        Price
count  7381.000000  7381.000000  7381.000000  7381.000000  7381.000000
mean    254.509687    15.252811     6.479881  2017.458474    15.738709
std     141.008599    25.276665     3.530361     1.499256    22.418284
min      52.000000     5.000000     1.000000  2013.000000     0.253900
25%     114.000000     5.000000     3.000000  2017.000000     3.223600
50%     239.000000     5.000000     6.000000  2018.000000     5.909600
75%     388.000000     5.000000    10.000000  2019.000000    20.441900
max     502.000000   102.000000    12.000000  2019.000000   159.445800